button {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--light);
    font-size: 14px;
    padding: 8px 24px;
    border-radius: 4px;
    cursor:pointer;
    }

button:hover {
  background: var(--light);
  color: var(--primary);
  border-color: var(--primary);
}
