.task-list h1 {
  margin-bottom: calc(var(--spacing) / 2);
}

.task-list ul {
  padding: 0px;
}

.task-list ul li {
  margin: var(--spacing-top-bottom);
  box-shadow: var(--shadow);
  border-radius: calc(var(--border-radius) * 2);
  padding: var(--spacing);
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.task-list ul a {
  text-decoration: none;
}

.task-list ul li h4 {
  margin-top: 0px;
  font-weight: 400;
  display: inline-block;
}

.task h3 {
  display: inline-block;
}

p.completion {
  display: inline-block;
  padding: var(--spacing)
}

.task-list ul li p {
  margin-bottom: 0px;
}

.task-list li div:last-child {
  min-width: 200px;
  padding-left: var(--spacing);
}

.task-list li div:last-child p {
  margin: 0px;
}

form span {
  display: inline-block;
  width: var(--spacing);
}

.task {
  max-width: 1200px;
  display: flex;
  margin-bottom: 0px !important;
}

.task b {
  color: var(--primary-dark);
}

.task section {
  max-width: 70%;
  width: 100%;
}

.task section:last-child {
  max-width: 30%;
  width: 100%;
}

.task .details {
  margin-top: var(--spacing-top-bottom);
  margin-bottom: 0px;
  border-bottom: solid 2px var(--secondary);
}

.task .details .pane {
  padding: calc(var(--spacing) / 3) calc(var(--spacing) / 2);
  display: flex;
  justify-content: space-between;
  border-top: solid 2px var(--secondary);
  border-bottom: solid 2px var(--secondary);
}

.task .details h6 {
  padding: 0px calc(var(--spacing) / 2);
  margin-top: calc(var(--spacing) / 2);
  margin-bottom: 0px;
}

.task .details p {
  margin-top: 0px;
  padding: 0px calc(var(--spacing) / 2);
}

.task .estimate h4 {
  margin-bottom: 4px;
}

.task .estimate h4.secondary {
  margin-top: 0px;
  padding-bottom: calc(var(--spacing) / 2);
  border-bottom: solid 2px var(--secondary)
}

.task .estimate ul {
  padding-left: calc(var(--spacing) * 3.4);
  position: relative;
}

.task .estimate ul li {
  list-style: none;
}

.task ul li.chatBox {
  padding: var(--spacing) calc(var(--spacing) / 2);
  list-style: none;
  border-bottom: 1px solid #e7e7e7;
}

.task ul{
  margin-top: 0px;
  padding: 0px;
  list-style: none;
}

.task pre {
  margin: 0px;
  font-family: var(--font-family);
  white-space: pre-wrap;
}

li.chatBox p{
  margin: 0px;
}

li.chatBox span.dateTime{
  font-size: 12px;
  padding-left: 5px;
}

.task li.employer.chatBox{
    background: #f9f9f9;
}
.task li.worker.chatBox {
    background: white;
}

.task .chatBoxScroll li:last-child {
  border-bottom: none;
}

.task .estimate {
  position: sticky;
  top: var(--spacing);
}

.task .estimate ul li::before {
  content: '';
  position: absolute;
  left: 0px;
  background: var(--secondary);
  width: calc(var(--spacing) * 2.8);
  height: calc(var(--spacing) * 2.8);
  border-radius: 50%;
  display: block;
}

.task .estimate ul li h5 {
  margin-bottom: 6px;
}

.task .estimate ul li button {
  font-size: 14px;
  padding: calc(var(--spacing) / 4) var(--spacing);
  margin-top: 0px;
  display: inline;
  width: auto;
}

.task .estimate .popup-content {
  width: 300px!important;
  border: 0!important;
  padding: var(--spacing)!important;
  border-radius: 6px;
}

.task .estimate .popup-overlay{
  background: #4d6475ab;
}

.task .chat {
  position: sticky;
  bottom: 0px;
  background: white;
}

.task .chat div textarea {
  height: 120px;
  line-height: var(--spacing);
}

.task .chat div input[type='submit'] {
  position: absolute;
  visibility: hidden;
  width: 100px;
  right: calc(var(--spacing) / 4);
  bottom: calc(var(--spacing) / 2);
}
