.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
}

.chat{
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  padding: 0%;
}

.chatBox{
  color: var(--black);
  text-align: left;
  background: rgb(239, 245, 245);
}

.popUpInner{
  left: 50%;
  right: 50%;
  top: 25%;
  bottom: 25%;
  background: white;
}

.sendbutton{
width: 20%;
}
