.sidenav{
  position: absolute;
  top:0;
  left: 0;
  background-color:var(--primary);
  min-width: 240px;
  height: 100vh;
  box-sizing: border-box;
  line-height: 20px;
}

.sidebarAvatar{
    display: block;
}

.circle{
  border-radius: 50%;
  margin: auto;
  width: 60px;
  height: 60px;
  background:var(--light);
}

.menuItem{
position: relative;
display: block;
line-height: 50px;
height: 50px;
white-space: nowrap;
text-decoration: none;
font-size: 14px;
cursor: pointer;
}

.sidenav .fas {
  font-size: 22px;
  width: 54px;
  text-align: center;
  height: 24px;
  vertical-align: middle;
}
.menuItem a{
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.sidenav h2{
  font-size: 18px;
  letter-spacing: 2px;
  color:white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

p{
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}
.sidenav li{
  list-style-type: none;
}

.sidenav li:hover{
  background: var(--hover);
}

.menuItem.active{
  background-color:var(--hover);
}
